{% extends 'welcomepage/base.html' %}

{% block content %}

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">REGISTER</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>CLUBS</h1>
      <div class="container">
  <br>
  
  
  <!-- ----------CAROUSEL----------------------- -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="a.jpg" alt="Colorless" width="460" height="345">
      </div>

      <div class="item">
        <img src="b.jpg" alt="Ideas" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="c.jpg" alt="Sleep" width="460" height="345">
      </div>

      <div class="item">
        <img src="d.jpg" alt="Peacefully" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
      <hr>
      <h1>{{club.club_name}}</h1>
	  <h3>About:</h3>
      <p>{{club.objective}}</p>
      
      
      <!-- ~~~~~~~~~~~ GALLERY ~~~~~~~~~~~~~~~~~~ -->
      
      <h3>Gallery:</h3>

       <div class="pic-container">
    <div class="pic-row">
      <img src="1.jpg">
      <img src="2.jpg">
      <img src="3.jpg">
      <img src="4.jpg">
      <img src="5.jpg">
      <img src="6.jpg">
     </div>
  </div>
      
      <h3>Member List:</h3>
      <p>{{club.members}}</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Upcoming Events</p>
		{%for event in upcomingevents%}
			<a href="{%url 'event' %}?event_id={{event.event_id}}">{{event.event_name}}</a>
		{%endfor%}
      </div>
      <div class="well">
        <p>Recent events</p>
		{%for event in recentevents%}
			<a href="{%url 'event' %}?event_id={{event.event_id}}">{{event.event_name}}</a>
		{%endfor%}
	  </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}