{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width,initial scale=1">

<link rel="stylesheet" href= "{% static 'css/w3.css'%}">
<link rel="stylesheet" href="{% static 'css/up_for_sale.css' %}">
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>


<script type="text/javascript" src="{% static 'js/toastr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/up_for_sale.js' %}"></script>


</head>
<body>
<div class="w3-container" id="sale_table">
<div class="w3-brown w3-container" id="search">
	<input placeholder="Search"class="w3-input w3-light-grey" style="width:40%" type="text" id="searchbar"/>

</div>
<table class="w3-table w3-striped w3-bordered w3-card-4 w3-white" id="table">
<thead>
<tr class="w3-brown">
  <th>Seller Id</th>
  <th>Book Name</th>
  <th>Action</th>
</tr>
</thead>




	{% for entry in data %}
	<tr>
	<td>{{entry.usn}}</td>
	<td>{{entry.book_name}}</td>
	<td><button class="w3-btn w3-ripple w3-green">Borrow</button></td>
	</tr>
	{% endfor %}
</table>
</div>

<script>
init();
</script>

</body>
</html>