{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Promotion Choices</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{%static 'w3.css'%}">
        <script type="text/javascript">
        function send_hidden_form()
        {
                hid2 = document.getElementById('id_rows');
                hid2.value = "Try It";
        }
        </script>
</head>
<body class="w3-container" background="{% static "college_images/pes13.jpg" %}" style="background-repeat:no-repeat;background-size: cover;">
<div style = "text-align: center;margin-top: 150px">

<form method="POST" action="">{% csrf_token %}
<div id="data_storage" style="display: none;">{{ hide.as_p }}</div>
<input class="w3-btn w3-xxlarge w3-round-xxlarge w3-pale-red w3-hover-teal" type = 'submit' value="Mail Push Notification" onclick="send_hidden_form()"></input>
</form><br/><br/><br/>


<div class="w3-tag w3-xxlarge w3-padding w3-round-large w3-red w3-center" style="padding:3px">
<div class="w3-tag w3-xxlarge w3-padding w3-round-large w3-red w3-center w3-animate-zoom" style="border:1px solid white">
Other Promotion Platforms</div></div><br/><br/>
<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>

<a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>

<a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>

<a href="http://www.digg.com/submit?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" /></a>

 <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>

<a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>
    
<a href="http://www.stumbleupon.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" /></a>

<a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" /></a>
</div>
</body>
</html>