{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Club-Admin Interface</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{%static 'w3.css'%}">
</head>
<body class="w3-container" background="{% static "college_images/pes3.jpg" %}" style="background-repeat:no-repeat;background-size: cover;">
<div style = "text-align: center;margin-top: 150px">
<a href="create/{{fill_cid}}" class="w3-btn w3-xxlarge w3-round-xxlarge w3-indigo w3-hover-teal w3-animate-zoom">Event Creation</a><br/><br/><br/>
<a href="event/{{fill_cid}}" class="w3-btn w3-xxlarge w3-round-xxlarge w3-indigo w3-hover-teal w3-animate-zoom">Event Management</a><br/><br/><br/>
<a href="promote/{{fill_cid}}" class="w3-btn w3-xxlarge w3-round-xxlarge w3-indigo w3-hover-teal w3-animate-zoom">Event Promotion</a>
</div>
</body>
</html>